body {
    font-family: 'Lato', sans-serif;
}

h3 {
    color: #747404;
    margin:5px;
}

h4 {
    color: #747404;
    margin: 10px 5px 5px 5px;
}

.dropdown-menu {
    left: 25%;
    right: 25%;
    text-align: center;
}

.logo {
    max-height: 70px;
    margin-left: 0px;
}

hr { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    border-color: #BCBBBB;
    border-width: 2px;
    width: auto;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.title {
    width:100%;
    display: -webkit-flex; /* Safari */
    display: flex;
    border-color:#BCBBBB;
}

.featured {
    color: #BCBBBB;
    margin-top: 60px;
    margin-bottom: 10px;
    text-align: center;
}

.bottom {
    margin-bottom: 70px;
}

#btop {
    margin-top:0;
}

figcaption {
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

figure {
    display: inline-block;
}

img {    
    margin-right: auto;
    margin-left: auto;
}

picture {
    display: block;
}

.bord {
    border-style: solid;
    border-width: 3px;
    border-color: black;
}



